/*
 * Default Pipeline Parameters
 */
params {
    reads  = "$projectDir/data/*.fastq"
    outdir = "results"
}

/*
 * Docker Configuration Profile
 */
profiles {
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        docker.runOptions      = '--memory 4g' 
    }
}
